* {
margin: 0;
padding: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/t16.jpg);
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

/*Navbar*/

.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}
.logo{
	width: 50px;
	cursor: pointer;
}
.menu-icon{
	width: 30px;
	cursor: pointer;
	margin-left: 40px;
}
nav{
	flex: 1;
	text-align: right;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
	text-decoration: none;
	color: #a39f9f;
	font-size: 13px;
}

nav ul a{
	text-decoration: none;
	color: #f8f2f2;
	font-size: 13px;
}

/*

@media screen and (max-width:1000px) {

	nav .menubar i {
		display: block;
		padding-top: 25px;
		padding-right: 10px;
	}

	#click:checked ~ .menubar i::before {
		content: "\f00d";
	}

	nav ul li  {
		display: block;
		margin: 30px 0;
		padding-left: 60px;
	}

	nav li a {
		font-size:25px;
		font-weight: 600;
		padding-bottom: 10px;
	}

	nav ul {
		position: fixed;
		top: 80px;
		right: -200%;
		background-color: grey;
		height: 500vh;
		width: 100%;
		display: block;
		text-align: center;	
		transition: all 0.5s ease;
		padding-left: 20px;

	}
	
	#click:checked ~ ul {
		right: 0;
	}

	.navbar1 ul{
		text-align: center;
		padding-top: 15px;
		padding-right: 0px;
		margin-top: 22px;
	}

	.navbar ul{
		text-align: center;
		padding-top: 15px;
		padding-right: 0px;
		margin-top: 22px;
	}
}
*/
	/*contact us*/
	.contact{
		padding: 50px;
	}
	.contact2{
		flex-direction: column;
	}
	.contactinfo{
		margin-bottom: 40px;
		padding-right: 100px;
	}
	.contactinfo,.contactform{
		width: 100%;
	}


.row{
	display: flex;
	height: 88%;
	align-items: center;
}
.col{
	flex-basis: 50%;
}
h1{
	color: #fff;
	font-size: 100px;
}
p{
	color: #fff;
	font-size: 11px;
	line-height: 15px;
}

@media (max-width:1116px){
	.row {
		flex-direction: column;
	}

	.col {
		text-align: center;
    	padding-top: 50px;
	}
	
}

@media (max-width:594px) {
	.container {
		height: auto;
	}
}

button{
	width: 180px;
	color: #000;
	font-size: 17px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;
}

button:hover{
	border: 1px solid #0e0f0f;
	background: #469eb9;
    transition: 1s ;
}
.card{
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-image: url(images/t1.jpg);
	background-size: cover;
	transition: transform 0.5s;
}
.card1{
	background-image: url(images/cate1.jpg);
}
.card2{
	background-image: url(images/threats5.jpg);
}
.card3{
	background-image: url(images/her1.jpg);
}
.card4{
	background-image: url(images/t15.jpg);
}
.card:hover{
	transform: translateY(-10px);
}
h5{
	color: #000;
	text-shadow: 0 0 5px #0e0d0d;
}
.card p{
	text-shadow: 0 0 15px #0c0c0c;
}


/*about*/

/*navbar*/

#click {
	display: none;
}

nav .menubar i {
	cursor: pointer;
	display: none;
}


@media  screen and (max-width:700px) {
	.footerNav .list {
		display: inline-block;
	}	
}

/*About page*/

.about{

	width: 100%;

	background-position: center;
	background-size: cover;
	position: relative;
}

.background {
	background-color: #469eb9;
	margin-top: -25px;
    padding: 10px;
    color: white;
	text-align: center;
	padding-left: 5%;
    padding-right: 5%;
	font-size: 22px;
}

.background h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.background h3 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.background p {
	font-size: 14px;
}


.about{
	background-color: #469eb9;
	color: #e7edee;
	font-size: 22px;
	padding: 0px;
	text-align: center;
	
	
}


.navbar1{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/t15.jpg);
}
/*
.navbar1 nav{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.navbar1 ul{
	text-align: center;
	padding-top: 15px;
	padding-right: 50px;
}

*/

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
}

.home nav {
	flex-direction: row-reverse;
}

@media (max-width: 1370px) {

	.home nav ul {
		position: fixed;
		top: 120px;
	}
	
}
nav .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav p {
    font-size: 20px;
    text-align: center;
}

nav img{
    padding-right: 20px;
}


nav ul {
    display: flex;
    list-style: none;
    
}

nav ul li {
    margin: 0px 5px;
    padding: 0px 30%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: cyan;
    border-radius: 5px;
}

nav .menubar i{
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}

nav .sl .down {
    display: none;
    padding-bottom: 8px;
}

nav .sl:hover .down {
    display: block;
    position: absolute;
    margin-top: 1px;
    padding-top: 5px;
    margin-bottom: 15px;
    margin-left: 17px;
    background-color: white;
    border-radius: 8px;
}

.down ul {
    display: block;
}

.down ul li{
    text-align: center;
}

nav .phone {
    display: none;
}

@media (max-width:1370px) {

    nav .menubar i{
        display: block;
    }

    #click:checked ~ .menubar i::before {
        content: "\f00d";
    }

    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: grey;    /*   <-- add a color for the mobile dropdown list  */
        height: 500vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;

    }

    #click:checked ~ ul{
        left: 0;
    }



    nav ul li {
        margin: 4px 0;
    }

    nav li a{
        font-size: 20px;
        display: block;
        font-weight: 600;
    }

    nav ul li a:hover{
        color: black;
    }


    nav .sl:hover .down {
        display: block;
        position: absolute;
        margin-top: 4px;
        padding-top: 5px;
        margin-bottom: 15px;
        margin-left: 17px;
        background-color: black;
        border-radius: 8px;
    }

    nav .sl {
        display: none;
    }

    nav .phone {
        display: block;
    }
}



.t16{
	width:300px;
	height: 225px;
}

.t17{
	width:300px;
	height: 225px;
}

.t15{
	width:300px;
	height: 225px;
}

.col1{
	float: left;
	width: 300px;
	padding: 30px;
}
.row1 img{
	background-color: #fff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0, 0, 0,0.3);
	cursor: pointer;
}
.row1::after{
	content: "";
	display: table;
	clear: both;
}

.p2{
	color: #0f0f0f;
	font-size: 11px;
	line-height: 15px;
}

.p3{
	color: #0f0f0f;
	font-size: 11px;
	line-height: 15px;
}
.p4{
	color: #0f0f0f;
	font-size: 11px;
	line-height: 15px;
}

/*footer*/

.footer{
	background-color: #0000008f;
}

.footerContainer{
	width: 100%;
	padding: 70px 0px 20px;
	background-color: black;

}

.socialIcons{
	display: flex;
	justify-content: center;
}

.socialIcons a{
	text-decoration: none;
	padding: 10px;
	background-color: #469eb9;
	margin: 10px;
	border-radius: 50%;
}
.socialIcons a i{
	font-size: 2em;
	color: #000;
	opacity: 0.9;
}
.socialIcons a:hover{
	background-color:#000;
	transition: 0.5s;
}

.socialIcons a:hover i{
 color: #fdf9f9;
 transition: 0.5s;
}

.footerNav{
	margin: 30px;
}

.footerNav ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
	
}

.footerNav ul li{
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
  
}

.footerNav ul li a{
	text-decoration: none;
	color: #469eb9;
}

.footerNav ul li a:hover{
	color: white;
}
.footerBottom{
	background-color: #000;
	padding: 20px;
	text-align: center;
}

.footerBottom p{
	color: #fff;
}

.designer{
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: opx 5px;
}

/*Categories*/
.bullet{
 color: #000;
 font-size: 11px;

}

/*Donations*/ 
.prod{
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
	color: #000;
}

a{
	text-decoration: none;
}
.products{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.sorry{
	width: 20%;
	margin: 20px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0,0.25),rgba(0, 0, 0,0.25),0 10px 10px rgba(0, 0, 0,0.22);
	transition: .4s;
	background: #e7edee;
}

.sorry:hover{
	box-shadow: 0 3px 6px rgba(0, 0, 0,0.16),0 3px 6px rgba(0, 0, 0,0.23);
	transform: translate(0px, -8px);
}

.pro{
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.p6{
	text-align: center;
	color: #171818;
	padding-top: 0 8px;
}

h6{
	font-size: 26px;
	text-align: center;
	color: #0e0d0d;
	margin: 0;
}

.buy1{
	background: #469eb9;
}

.buy2{
	background: #2ac793;
}

.buy3{
	background: #7f9228;
}
@media(max-width:1000px) {
	.sorry{
		width: 45%;
	}
}

@media(max-width:750px) {
	.sorry{
		width: 100%;
	}
}

/*Contact  us*/
.contact{
	position:relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(images/back1.jpg);
	background-size: cover;
}

.contact1{
	max-width: 800px;
	text-align: center;
}

.contact2{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.contactinfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.box{
	position: relative;
	padding: 20px 0;
	display: flex;
}

.contacticon{
	min-width: 60px;
	height: 60px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

.contacttext{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
}

.contactform{
	width: 78%;
	padding: 40px;
	background: #fff;
}

.contactform h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;
}

.inputbox{
	position: unset;
	width: 100%;
	margin-top:  10px;
}
.inputbox input,.inputbox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}

.inputbox span{
	position: relative;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.inputbox input:focus ~ span,.inputbox input:valid ~ span
.inputbox textarea:valid ~ span,.inputbox textarea:valid ~ span{
color: #e91e63;
font-size: 12px;
transform: translateY(-20px);
}

.inputbox input[type="submit"]{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

/*Location*/
iframe{
width: 100%;
}


@media (max-width:400px){
	.menubar{
		padding-left: 190px;
	}
}
